{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        This is the about page! This tutorial has been put together by Thekla Kenneison.<br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <p><h1>Good god I have no idea what I'm doing.</h1>
	<br /><i>Please save me</i>
    <div>
        <img src="{% static "images/cat.jpg" %}"alt="Picture of a cat"  width = "200px"/> 
    </div>
	
	<div>
		<p>visits: {{ visits }}</p>
	</div>
{% endblock %}